/*Author: Sanjana Khot*/
article, aside, details, figcaption, figure, footer, header,hgroup, menu, nav, section{
display:block;
}

#main{
	height:700px;
}

#content{
	margin: 100px auto;
	position: relative;
}
#writtencontent{
	margin: 0 auto;
	text-align: center;
}
