/*Author: Sanjana Khot*/
#content{
  background-color:transparent;
}

#writtencontent{
  padding: 0px;
}

#content img{
  height:100px;
  width:100px;
  padding:5px;
  border:1px white;
  margin: 5px 10px 0px 0px;
  float:left;
}

.article{
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  width:900px;
  background-color: maroon;
  border:1px solid #660000;
}

.aside{
  float:right;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  width:250px;
  background-color:maroon;
  font-size:90%;
  border:1px solid #660000;
  clear: both;
}

.border {
border-bottom:1px solid black;
padding-bottom:10px;

}

.bold{
  font-weight:bold; /*Typographic effect*/
}

@media (max-width: 1300px) {
  
  .aside {
  width:1000px;
  float: left;
  margin: 0px 0px 20px 20px;
  padding:5px;
  border-bottom:1px solid black; 
  }
  
  .article {
    width: 1000px;
  }
}




