/*Author: Sanjana Khot*/
article, aside, details, figcaption, figure, footer, header,hgroup, menu, nav, section{
    display:block;
}

#content{
    background-color: transparent;
    width:850px;
    margin: 0px auto;
   
}

textarea{
    vertical-align:top;
    font-family:inherit;
    margin:0px auto;
    background-color:#fff;
    color:#000000;
    border:0.75px solid black;
    opacity:1.0;
    width:550px;
    height:200px;
    margin-left: 12px;
   }


textarea :focus{
    none;
}

p.large {
    font-size: 120%;
}

/* Form styling */

.form{
    margin:0px 0px 10px 0px;
    padding:10px;
    background-color: maroon;
    text-align:center;
   
}

.buttons {
   margin-left: 173px;
}

.textbox {
    padding: 5px;
    margin: 0px auto;

}

.emailbox{
    height:35px;
    width:550px;
    margin-left: 10px;
    font-family: inherit;
    background-color:#fff;
    color:#000000;
    border:0.75px solid black;
    opacity:0.95;
  

}
::-webkit-input-placeholder {
    text-align:left;
    color:#1A1A1A;
    font-size:initial;
    padding: 10px;
}

::-moz-placeholder {
    text-align:left;
    color:#1A1A1A;
    font-size:initial;
    padding: 10px;
}

input:-moz-placeholder {
    text-align:left;
    color:#1A1A1A;
    font-size:initial;
    padding: 10px;

}

:-ms-input-placeholder{
    text-align:left;
    color:#1A1A1A;
    font-size:initial;
    padding: 5px;

}

.line{
    margin:5px;
}

/*Styling div element containing address*/
.address{
    margin-top: 20px;
    text-align:center;
    background-color:maroon;
    padding:5px;
}
