/*Author: Sanjana Khot*/
article, aside, details, figcaption, figure, footer, header,hgroup, menu, nav, section{
display:block;
}

/*canvas styling*/
#canvas {
	background:linear-gradient(to bottom,#ffffff, #e1e1e3);
	border: 2px solid gray;
	margin: 0px 100px 5px 5px;
	float:right;
}

#content {
	width:600px;
}

#main {
	height:700px;
}